<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <p>{{type}} : {{message}}</p>
            {% endfor %}
        {% endfor %}
        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
